/* 2023-01-25 */

.todo-template {
    width: 512px;
    height: 768px;
    /* border: 1px solid black; */
    border-radius: 16px;

    /* 음영처리 */ 
    /* x축, y축, 블러크기, 색상*/
    box-shadow: 0 0 8px #aaa;

    /* 박스 x축 중앙 정렬 : margin 좌우값을 auto로 설정*/
    margin: 200px auto 100px;  
    
    /* 부모에게 기준을 잡아야 TodoInput 의 input 이 부모기준 맨 아래로 감 */
    position: relative;

    /* 자식(TodoMain.css)에 flex 사용했기에 부모에 display속성 필요 */
    display: flex;
    flex-direction: column;
}